@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: product-sans-italic;
    src: url(../../font/Product-Sans-Italic.ttf);
}
@font-face {
    font-family: product-sans-regular;
    src: url(../../font/Product-Sans-Regular.ttf);
}
@font-face {
    font-family: product-sans-bold;
    src: url(../../font/Product-Sans-Bold.ttf);
}