.toy-preview {
    min-width: 200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    // border: 2px lightgray solid;
    border-radius: 0.5rem;
    background-color: $clr1bg-light;
    box-shadow: 1px 1px 4px 0px grey;

    & .hidden-btns {
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        gap: 10px;
        padding: 5px 10px;
        // opacity: 0;

        & button {
            margin: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover{
                opacity: 0.5;
            }
        }
    }

    &:hover {
        background-color: $clr1;
        transition: 0.5s;

        // & .hidden-btns {
        //     opacity: 1;
        //     transition: 0.5s;
        // }
    }

    .image-container {
        width: 60px;
        margin: auto;
    }
}


// .toy-preview {
//     & .skeleton {
//         background-color: #e2e2e2;

//     }
// }

// .skeleton {
//     animation: skeleton-loading 1s linear infinite alternate;
//   }

//   @keyframes skeleton-loading {
//     0% {
//       background-color: hsl(200, 20%, 80%);
//     }
//     100% {
//       background-color: hsl(200, 20%, 95%);
//     }
//   }