.filter-container {
    padding: 10px;
    box-shadow: 0px 1px 20px 0px lightgray;
    // border: lightgrey solid 2px;
    margin-top: 20px;
    border-radius: 0.5rem;

    & form {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px;

        & input {
            padding: 5px 10px;
            border-radius: 0.5rem;
            border: lightgray solid 1px;

            &:focus{
                background-color: $clr1bg;
                color: $clr3;
            }

            &::placeholder{
                color: $clr3;
            }
        }
    }

}
